# Base URLs
BASE_UI_URL=https://practicesoftwaretesting.com
BASE_API_URL=https://api.practicesoftwaretesting.com

# Test Credentials
ADMIN_EMAIL=admin@practicesoftwaretesting.com
ADMIN_PASSWORD=admin-password
