# === Secrets & Environment Setup ===
.env
*.pem
*.key

# === Virtual Environment ===
.venv/
venv/
ENV/

# === Python & Pytest Cache ===
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# === Test Artifacts, Debug files, Reports & Logs ===
*.log
debug_*
.coverage
htmlcov/
coverage.xml
allure-results/
allure-report/
artifacts/
test-results/
playwright-report/
blob-report/
.playwright-cli/

# === IDE & OS Files ===
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# === Temporary & Swap Files ===
*.tmp
*.bak